body {
    background-image: url('https://4kwallpapers.com/images/wallpapers/flaming-guitar-black-background-musical-instrument-fire-2560x1600-4999.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    text-align: left;

  }
p {
    text-align: left;
    color: white;
    font-weight: bold;
    font-style: italic;

}

header {
    color: white;

}

figure {
    text-align: left;

}

figcaption {
    color: white;
    font-weight: bold;

}
footer{
    color: white;
    font-weight: normal;
    font-style: normal;

}
